## Add expenses

Define a function that is able to request the inputs manually but also create a dummy dataset from scratch

In [113]:
import random
from datetime import datetime, timedelta

#set the random seed for reproducibility
random.seed(42)

#define the function
def input_expenses(interactive=True):
    "Function to input the expenses"

    #if interactive is true, request to introcute the inputs manually
    if (interactive):
        exp_date = input("Enter the date of the expense in the format YYYY-MM-DD")
        exp_category = input("Enter the category of the expense")
        exp_amount = input("Enter the amount of the expense")
        exp_description = input("Enter the description of the expense")

        #create a list with a dictionary including the inputs
        list_dicts = [{ \
            "date": exp_date, \
            "category": exp_category, \
            "amount": exp_amount, \
            "description": exp_description \
        }]
    #create a dummy list of inputs from scratch
    else:
        #create random dates between 2020 and 2024
        #first the days within the range 
        start_date = datetime(2020, 1, 1)
        end_date = datetime(2024, 12, 31)
        delta = end_date - start_date
        #create 20 random dates from the start and convert to the required format
        example_dates = [ \
            (start_date + timedelta(days=random.randint(0, delta.days))).strftime("%Y-%m-%d") for _ in range(20) \
        ]

        #create random expenses categories
        example_categories = [ \
            random.choice(["Groceries", "Clothing", "Entertaiment"]) for _ in range(20) \
        ]

        #create random amounts based on the categories
        example_amounts = []
        for i in example_categories:
            if(i=="Groceries"):
                example_amounts.append(random.randint(5,200))
            elif(i=="Clothing"):
                example_amounts.append(random.randint(5,100))
            elif(i=="Entertaiment"):
                example_amounts.append(random.randint(5,20))

        #create random descriptions based on the categories
        example_descriptions = []
        for i in example_categories:
            if(i=="Groceries"):
                example_descriptions.append( \
                    "Doing groceries in " + random.choice(["Aldi", "Lidl", "Tesco", "Dunnes"]) \
                )
            elif(i=="Clothing"):
                example_descriptions.append( \
                    "Buying clothes in " + random.choice(["Penneys", "H&M", "Zara", "Dunnes"]) \
                )
            elif(i=="Entertaiment"):
                example_descriptions.append( \
                    "Going to the cinema to watch " + random.choice(["The Avengers", "Star Wars", "The Lord of the Rings"]) \
                )

        #create a list of dictionaries with the inputs
        list_dicts = [ \
            { \
                "date": date, \
                "category": category, \
                "amount_usd": amount, \
                "description": description \
            } for date, category, amount, description in zip(example_dates, example_categories, example_amounts, example_descriptions) \
        ]
    
    #return only the dict
    return list_dicts

Now create a dummy dataset with expenses using the previously defined function, then convert to pandas DF

In [114]:

import pandas as pd
expenses_df = pd.DataFrame(input_expenses(False))
expenses_df

,date,category,amount,description
0,2023-08-02,Groceries,76,Doing groceries in Tesco
1,2020-08-16,Entertaiment,9,Going to the cinema to watch The Lord of the R...
2,2020-02-21,Entertaiment,11,Going to the cinema to watch The Lord of the R...
3,2024-02-27,Groceries,200,Doing groceries in Tesco
4,2021-07-17,Entertaiment,15,Going to the cinema to watch The Lord of the R...
5,2021-05-16,Groceries,31,Doing groceries in Lidl
6,2021-04-02,Entertaiment,7,Going to the cinema to watch The Lord of the R...
7,2020-10-12,Entertaiment,17,Going to the cinema to watch The Avengers
8,2024-02-17,Entertaiment,8,Going to the cinema to watch The Avengers
9,2020-07-28,Entertaiment,16,Going to the cinema to watch The Lord of the R...
10,2023-10-17,Clothing,49,Buying clothes in H&M
11,2024-02-25,Groceries,159,Doing groceries in Tesco
12,2023-01-21,Clothing,38,Buying clothes in Penneys
13,2020-06-27,Entertaiment,6,Going to the cinema to watch The Avengers
14,2023-04-24,Clothing,98,Buying clothes in Penneys
15,2022-05-14,Groceries,122,Doing groceries in Dunnes
16,2020-03-06,Groceries,142,Doing groceries in Tesco
17,2020-03-02,Entertaiment,8,Going to the cinema to watch Star Wars
18,2020-07-10,Clothing,53,Buying clothes in Zara
19,2021-03-23,Clothing,15,Buying clothes in H&M